/**
 * ScrollToTopBtn Styles
 * ------------------------
 * Styles for a button that appears on the page to enable users to quickly scroll back 
 * to the top. The button is fixed in position and features smooth opacity transitions.
 * 
 * Classes:
 * - `.ScrollToTopBtn`: Base style for positioning and styling the button with a smooth 
 *   transition effect.
 * - `.ScrollToTopBtn.hidden`: Hides the button when it's not needed, for example, 
 *   when the user is already near the top.
 * - `.ScrollToTopBtn.visible`: Displays the button when scrolling down the page.
 * 
 * Keyframes:
 * - `fadeInOpacity`: Animation to smoothly fade in the button when it becomes visible.
 */

 .ScrollToTopBtn {
    position: fixed;                            /* Fixes the button position on the screen */
    bottom: 100px;                              /* Positions the button 100px from the bottom */
    right: 28px;                                /* Positions the button 30px from the right edge */
    cursor: pointer;                            /* Changes cursor to pointer on hover for interactivity */
    z-index: 1000;                              /* Ensures the button appears above other elements */
    transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out; /* Smooth transition for both opacity and visibility */
    opacity: 1;                                 /* Default opacity for visible state */
    visibility: visible;                        /* Default visibility for visible state */
}

.ScrollToTopBtn.hidden {
    opacity: 0;                                 /* Hides the button by making it fully transparent */
    visibility: hidden;                         /* Keeps the element in the layout but makes it invisible */
}

.ScrollToTopBtn.visible {
    opacity: 1;                                 /* Makes the button fully visible */
    visibility: visible;                        /* Ensures the button is visible */
}

/* Keyframes for fade-in effect */
@keyframes fadeInOpacity {
    0% {
        opacity: 0;                             /* Start with transparent */
    }
    100% {
        opacity: 1;                             /* Fade to full opacity */
    }
}
