/**
 * ScrollToTopBtn Styles
 * ------------------------
 * Styles for a button that appears on the page to enable users to quickly scroll back 
 * to the top. The button is fixed in position and features smooth opacity transitions.
 * 
 * Classes:
 * - `.ScrollToTopBtn`: Base style for positioning and styling the button with a smooth 
 *   transition effect.
 * - `.ScrollToTopBtn.hidden`: Hides the button when it's not needed, for example, 
 *   when the user is already near the top.
 * - `.ScrollToTopBtn.visible`: Displays the button when scrolling down the page.
 * 
 * Keyframes:
 * - `fadeInOpacity`: Animation to smoothly fade in the button when it becomes visible.
 */

 .ScrollToTopBtn {
    position: fixed;                            /* Fixes the button position on the screen */
    bottom: 100px;                              /* Positions the button 100px from the bottom */
    right: 30px;                                /* Positions the button 30px from the right edge */
    cursor: pointer;                            /* Changes cursor to pointer on hover for interactivity */
    z-index: 1000;                              /* Ensures the button appears above other elements */
    transition: opacity 0.5s ease-in-out;       /* Smooth opacity transition */
    opacity: 1;                                 /* Default opacity for visible state */
    animation-name: fadeInOpacity;              /* Apply fade-in animation */
    animation-iteration-count: 1;               /* Play animation once per visibility change */
    animation-timing-function: ease-in;         /* Smoothly ease-in the fade effect */
    animation-duration: 0.2s;                   /* Duration for the fade-in effect */
}

.ScrollToTopBtn.hidden {
    display: none;                              /* Hides the button when it's in the 'hidden' state */
}

.ScrollToTopBtn.visible {
    display: block;                             /* Ensures the button is visible in the 'visible' state */
}

/* Keyframes for fade-in effect */
@keyframes fadeInOpacity {
    0% {
        opacity: 0;                             /* Start with transparent */
    }
    100% {
        opacity: 1;                             /* Fade to full opacity */
    }
}